.home-container {
    display: flex;
    flex-direction: column;

  .title {
      text-align: center;
      font-size: 2rem;
      margin-top: 1em;
      color: var(--dark-grey);
  }

  .grid-container {
    width: 75%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 1em;
    .grid-items {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        flex-direction: column;
        width: 10em;
        height: 9.1em;
        margin-bottom: 5%;
    }
    .link-info {
        text-align: center;
        font-weight: bold;
        color:var(--dark-grey)
    }
  }

  .flex-container {
    margin: 0 auto;
    width: 80%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .boxes {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 10em;
        height: 12em;
        -webkit-box-shadow: 0px 0px 8px -3px #000000; 
        box-shadow: 0px 0px 8px -3px #000000;
        border-radius: 8px;
       .link-info{
        text-align: center;
        font-weight: bold;
        color:var(--dark-grey)
       }
    }
  }

}

@media screen and (max-width: 470px) {

  .home-container {

    .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    margin: 2em auto;
    }

    .flex-container {
      flex-wrap: wrap;
      margin: 2rem auto;
    }
  }
}