.search-results {
  background: #cdcdcd;
  padding: 60px;
  margin-bottom: 40px;
  border-radius: 60px;
  ul,
  p {
    margin: 0 auto;
    max-width: 600px;
    width: 50%;
  }

  p, li {
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
  }
}
