.mytickets-container {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      background-color: var(--lime-green);
      width: 35rem;
      height: auto;
      padding: 1rem;
      margin-top: 5rem;
      color: var(--dark-grey);
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;
    }
  }