.mytickets-container {
    position: relative;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  
    display: flex;
    justify-content: center;
    .page {
      position: absolute;
      width: 100%;
      .inner {
        display: flex;
        justify-content: center;
        h1 {
          font-family: 'Poppins';
          font-size: 2em;
          letter-spacing: .1rem;
          align-items: center;
          background-color: #CBEA00;
          width: 65%;
          height: 57px;
          text-align: center;
          border-radius: 25px;
          color: #6E6E6E;
          .line-wrap {
            overflow: hidden;
            height: 66px;
          }
        }
      }
      .info {
        font-family: 'Poppins';
        margin-top: 20%;
        width: 300px;
        font-weight: 300;
        line-height: 24px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .wave-container-chamados{
          width: 100%;
          height: 30vh;
          background-color: var(--main-blue);
          background-size: cover;
          background-attachment: fixed;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0 0 60px 60px;
      }
      
    }
  }