.message-container {
    width: 100%;
    display: flex;
    .flex-items {
        display: flex;
        .message {
            color: var(--dark-grey);
        }
        .image {
            width: 400px;
        }
    }
}