@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300&display=swap');

:root {
  --text-color: #101010;
}


.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  // background-image: ;
  .logo-image {
    width: 200px;
  }
  .links {
    margin: 0 20px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins";
  }
}

.container {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  .page {
    position: absolute;
    .inner {
      display: flex;
      justify-content: center;
      h1 {
        font-family: 'Bebas Neue';
        font-size: 52px;
        letter-spacing: .1rem;
        .line-wrap {
          overflow: hidden;
          height: 66px;
        }
      }
    }
    .info {
      font-family: 'Poppins';
      margin-top: 20%;
      width: 300px;
      font-weight: 300;
      line-height: 24px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
  }
}


