@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300&display=swap');

// color theme
:root {
  --main-blue: #0077B3;
  --dark-grey: #6E6E6E;
  --light-grey: #DDDDDD;
  --lime-green: #CBEA00;
  --yellow: #FBB514;
  --white: #FFFFFF;
  --light-blue: #34c2d6;
}

//style reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}







