.under-construction {
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .message {
            color: var(--dark-gray);
        }
        .link {
            margin-top: 2em;
            text-decoration: none;
            color: var(--white);
            font-size: 1.3em;
            background-color: var(--main-blue);
            padding: 0.5em 1em;
            border-radius: 5px;
        }
    }
}