.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: .5em;
    background-color: var(--main-blue);
    .logo-image {
      width: 220px;
      z-index: 2;
    }
    .servizen-logo {
      color: var(--white);
      margin-right: 8em;
      font-weight: 600;
    }
    .links {
      margin: 0 20px;
      text-decoration: none;
      color: var(--text-color);
      font-size: 12px;
      font-weight: 600;
      font-family: "Poppins";
      
      .logout {
        border: var(--white);
        color: var(--white);
        width: 3em;
      }
      .links.logout {
        color: var(--white)
      }
    }

  .links {
    margin: 0 20px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins';
  }
}

@media screen and (max-width: 470px) {

  .header {

    .portal-name {
      display: none;
    }

    .servizen-logo {
      display: none;
    }

    
  }
}