.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .link {
      margin: 2.5em auto;
      text-decoration: none;
      color: var(--white);
      font-size: 1.3em;
      background-color: var(--main-blue);
      padding: 0.5em 1em;
      border-radius: 5px;
    }
  }