.image-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

@media screen and (max-width: 470px) {
    .image-container {
        .image-people {
            width: 100vw;
        }
    }
}