.broken-lamp {
  width: 20%;
  margin-left: 10%;
  margin-top: 3%;
}

.not-found {
  color: var(--light-blue);
  font-size: 70%;
  line-height: 1.5;
  text-align: center;
  font-weight: 100;
  margin-top: -15%;

  p {
    font-size: 15em;
    color: var(--dark-grey);
  }

  h2,
  h3 {
    font-size: 2em;
    color: var(--light-blue);
  }

  .header {
    display: none;
  }
}
