.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 5% 5% 2% 5%;


    -webkit-box-shadow: 0px 0px 8px -3px #000000; 
    box-shadow: 0px 0px 8px -3px #000000;
    table {
        border-collapse: collapse;
        width: 100%;
        -webkit-box-shadow: 0px 0px 8px -3px #000000; 
        box-shadow: 0px 0px 8px -3px #000000;
        border-radius: 8px;
        th,
        td {
            text-align: center;
            padding: 15px;
            font-size: 1.5em;
        }
        th {
            background-color: var(--main-blue);
            color: var(--white);
        }
        td {
            background-color: #EBEBEB;
        }
      }
    }
    form {
      display: flex;
      gap: 5px;
    }

    form td:last-child {
      display: flex;
      justify-content: space-evenly;
    }

    form * {
      font-size: 28px;
    }
  